{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm)}}

        <button type="submit" class="btn">Enregistrer</button>
        <button type="" class="btn">Annuler</button>
    {{ form_end(registrationForm) }}
{% endblock %}
