nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
#body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom:0;
    width:100%;
}

#filtreSorties {
    display: flex;
    justify-content: center;
    border: 2px blue solid;
}

#titreFiltre {
    display: flex;
    justify-content: left;
}

#checkFiltre {
    padding: 5px;
}

#btnFiltre {
    padding: 5px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#typeFiltre {
    padding: 5px;
    font-size: smaller;
    display: flex;
    flex-direction: column;
}

#elementFiltre {
    display: flex;
    padding: 5px;
    align-items: center;
    }
 #show_sortie {
     display: flex;
     justify-content: center;
 }

 #checkBoxFiltres {
     display: flex;
}
 #btnFilter {
     width: 150px;
     height: 80px;
 }

 #timeFiltre {
     display: flex;
     justify-content: center;
     align-items: center;
 }
