{% extends 'base.html.twig' %}

{% block title %}Modifier Sortie | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Modifier la Sortie</h1>

    {{ include('sortie/_form.html.twig') }}

    <button class="btn" onclick="document.location='{{ path('app_sortie_cancel', {'id': sortie.id}) }}'">{{ button_label|default('Annuler la sortie') }}</button>

{% endblock %}
