{% extends 'base.html.twig' %}

{% block title %}Modifier Sortie | {{ parent() }}{% endblock %}

{% block body %}
    <h1>modifier la Sortie</h1>

    {{ include('sortie/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_sortie_index') }}">Retour à la liste de sorties</a>

    {{ include('sortie/_delete_form.html.twig') }}
{% endblock %}
