{% extends 'base.html.twig' %}

{% block title %}Nouvelle Sortie | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Sortie</h1>

    {{ include('sortie/_form.html.twig') }}

{% endblock %}
