{% extends 'base.html.twig' %}

{% block title %}Nouvelle Sortie | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Sortie</h1>

    {{ include('sortie/_form.html.twig') }}

    <a href="{{ path('app_sortie_index') }}">Retour à la liste de sorties</a>
{% endblock %}
