{{ form_start(form) }}
    <div id="showVille">
        {{ form_widget(form) }}
    </div>
    <div id="btnCreer">
        <button type="button" class="btn btn-primary" >{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
